{
  "plugins": ["@shufo/prettier-plugin-blade"],
  "overrides": [
    {
      "files": ["*.blade.php"],
      "options": {
        "parser": "blade",
        "tabWidth": 4,
        "printWidth": 80,
        "sortTailwindcssClasses": true,
        "wrapAttributes": "force-expand-multiline",
        "wrapAttributesMinAttrs": 2
      }
    }
  ]
}
